.detail-movie-box {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.detail-movie-img {
  flex: 5;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.detail-movie-info {
  flex: 5;
  width: 100%;
  padding: 4rem 0 4rem 0;
  color: white;
}
.detail-genre {
  display: flex;
}
.detail-genre p {
  padding: 0.5rem;
}
.detail-trailerBox {
  margin: 0 auto;
  width: 85%;
  max-height: 800px;
}
