.detail-movie-container {
  display: flex;
  justify-content: center;
}
.detail-movie-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.detail-movie-info {
  width: 100%;
  padding-top: 4rem;
  color: white  ;
}
.detail-genre{
    display: flex;
}
.detail-genre p{
    padding: 0.5rem;
}
