.moviePage-area {
  padding-top: 100px;
}
.moviePage-option-area{
  display: flex;
  flex-direction: column;
}
.pagination {
  margin-bottom: 0;
}

.moviePage-card {
  height: 520px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .moviePage-card {
    height: 550px;
  }
}

@media screen and (max-width: 768px) {
  .moviePage-card {
    height: 300px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .moviePage-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    margin: 1rem 0;
  }
}
