.carousel-container {
  overflow: visible;
  height: 400px;
}
.carousel-container ul {
  height: 100%;
}

.carousel-container > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .carousel-container {
    margin: 1rem 0 0 0;
    height: 400px;
  }
  .carousel-container ul {
    height: 100%;
  }
}

@media screen and (max-width: 576px) {
  .carousel-container {
    margin: 1rem 0 0 0;
    height: 500px;
  }
  .carousel-container ul {
    height: 100%;
  }
}
