.banner {
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner::before {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
}
.banner-box {
  position: relative;
}
.banner-text-area {
  position: absolute;
  bottom: 5rem;
  left: 0;
  max-width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 16rem 2rem 0 2rem;
  margin-left: 8rem;
}
.banner-text-area h1 {
  font-size: 3.5rem;
  color: red;
}
.banner-text-area p {
  font-size: 1rem;
  padding: 0 5px;
}

.banner-text-area * {
  z-index: 2;
}
.sweet-loading{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .banner-text-area {
    max-width: 60%;
    padding: 6rem 1rem 0 1rem;
    margin-left: 4rem;
  }
  .banner-text-area h1 {
    font-size: 3rem;
    padding: 0 10px;
  }
  .banner-text-area p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-text-area {
    max-width: 70%;
    padding: 8rem 1rem 0 1rem;
    margin-left: 1rem;
  }
  .banner-text-area h1 {
    font-size: 1.5rem;
    padding: 0 10px;
  }
  .banner-text-area p {
    font-size: 0.4rem;
  }
  .banner::before {
    height: 50vh;
  }
}
