.banner {
  height: 85vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.banner::before {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  position: absolute;
  left: 0;
  height: 90vh;
  width: 100%;
}
.banner-text-area {
  max-width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 2rem 0 2rem;
  margin-left: 8rem;
}
.banner-text-area h1{
    font-size: 5rem;
    color: red;
}
.banner-text-area p{
    font-size: 1rem;
    padding: 0 10px;
}

.banner-text-area *{
    z-index: 2;
}
