.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.5);
  opacity: 0;
  transition: all 0.6s;
  color: white;
  font-weight: bolder;
  overflow-wrap: break-word;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.overlay h1 {
  font-size: 1.6rem;
}

.overlay:hover {
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.1) translateZ(10px);
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .movie-card {
    width: 200px;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .movie-card {
    width: 60vw;
    height: clamp(300px, 100vw, 500px);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 8;
  }
}
